<!doctype html>
<html class="no-js" lang="zxx">


<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->
<head>
	{include file="../public/static/home/head.html" title="title" /}
</head>

<body>
	
	<!-- Wrapper -->
	<div id="wrapper" class="wrapper">
		{include file="../public/static/home/header.html" /}
		<!-- Page Conttent -->
		<main class="page-content">

            <!-- About Page Area -->
            <div class="about-area section-padding-md">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-7">
                            <div class="about-image">
                                </static/homeimg src="/static/home/img/others/about-image.jpg" alt="beautiful girl">
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="about-content">
                                <h2>WHO’S<span>GENRRE</span></h2>
                                <h5>FASHION DESIGN</h5>
                                <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                                <h5>LONDON ADDRESS</h5>
                                <p>34 Parer Place via Musk Avenue Kelvin Grove, QLD, 4059</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// About Page Area -->

            <!-- Team Area -->
            <div class="team-area section-padding-bottom-md">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <div class="section-title text-center">
                                <h2><strong>MEET OUR TEAM OF EXPERTS</strong></h2>
                                <p>THE RIGHT PEOPLE FOR YOUR PROJECT</p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        
                        <!-- Single Team Member -->
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="team-member">
                                <div class="team-member-thumb">
                                    </static/homeimg src="/static/home/img/team-member/team-member-1.jpg" alt="beautiful men">
                                </div>
                                <div class="team-member-content">
                                    <h5>JOHN SMITH</h5>
                                    <p>DESIGNER</p>
                                </div>
                            </div>
                        </div>
                        <!--// Single Team Member -->

                        <!-- Single Team Member -->
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="team-member">
                                <div class="team-member-thumb">
                                    </static/homeimg src="/static/home/img/team-member/team-member-2.jpg" alt="beautiful men">
                                </div>
                                <div class="team-member-content">
                                    <h5>ALICE KIM</h5>
                                    <p>CO-FOUNDER</p>
                                </div>
                            </div>
                        </div>
                        <!--// Single Team Member -->

                        <!-- Single Team Member -->
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="team-member">
                                <div class="team-member-thumb">
                                    </static/homeimg src="/static/home/img/team-member/team-member-3.jpg" alt="beautiful men">
                                </div>
                                <div class="team-member-content">
                                    <h5>VICTORIA DOE</h5>
                                    <p>MARKETER</p>
                                </div>
                            </div>
                        </div>
                        <!--// Single Team Member -->

                    </div>
                </div>
            </div>
            <!--// Team Area -->

            <!-- Skills Area -->
            <div class="skills-area section-padding-bottom-md">
                <div class="container">
					<div class="section-title">
						<h4>OUR SKILLS</h4>
					</div>

					<div class="row sn-progress-wrap">

                        <!-- Single Progress Bar -->
                        <div class="col-lg-6">
                            <div class="sn-progress">
                                <span class="progress-bar-count">90%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 90%; " aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                        <h6>WP DEVELOPING</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--// Single Progress Bar -->

                        <!-- Single Progress Bar -->
                        <div class="col-lg-6">
                            <div class="sn-progress">
                                <span class="progress-bar-count">90%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 90%; " aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                        <h6>WP DEVELOPING</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--// Single Progress Bar -->

                        <!-- Single Progress Bar -->
                        <div class="col-lg-6">
                            <div class="sn-progress">
                                <span class="progress-bar-count">80%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 80%; " aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                        <h6>PHP & JAVASCRIPT</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--// Single Progress Bar -->

                        <!-- Single Progress Bar -->
                        <div class="col-lg-6">
                            <div class="sn-progress">
                                <span class="progress-bar-count">80%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 80%; " aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                        <h6>PHP & JAVASCRIPT</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--// Single Progress Bar -->

                        <!-- Single Progress Bar -->
                        <div class="col-lg-6">
                            <div class="sn-progress">
                                <span class="progress-bar-count">95%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 95%; " aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                                        <h6>HTML & CSS3</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--// Single Progress Bar -->

                        <!-- Single Progress Bar -->
                        <div class="col-lg-6">
                            <div class="sn-progress">
                                <span class="progress-bar-count">95%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 95%; " aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                                        <h6>HTML & CSS3</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--// Single Progress Bar -->

                        <!-- Single Progress Bar -->
                        <div class="col-lg-6">
                            <div class="sn-progress">
                                <span class="progress-bar-count">75%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 75%; " aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                        <h6>WORDPRESS</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--// Single Progress Bar -->

                        <!-- Single Progress Bar -->
                        <div class="col-lg-6">
                            <div class="sn-progress">
                                <span class="progress-bar-count">75%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 75%; " aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                        <h6>WORDPRESS</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--// Single Progress Bar -->

                    </div>
                </div>
            </div>
            <!--// Skills Area -->

			<!-- Features Area -->
			<div class="features-area">
				<div class="container">
					<div class="row justify-content-center features-wrapper">

						<!-- Single Features -->
						<div class="col-lg-4 col-md-6 col-12">
							<div class="features text-center">
								<h6>MONEY BACK GUARANTEED</h6>
								<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur</p>
							</div>	
						</div>
						<!--// Single Features -->

						<!-- Single Features -->
						<div class="col-lg-4 col-md-6 col-12">
							<div class="features text-center">
								<h6>FREE WORLDWIDE DELIVERY</h6>
								<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur</p>
							</div>	
						</div>
						<!--// Single Features -->

						<!-- Single Features -->
						<div class="col-lg-4 col-md-6 col-12">
							<div class="features text-center">
								<h6>ONLINE SUPPORT 24/7</h6>
								<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur</p>
							</div>	
						</div>
						<!--// Single Features -->

					</div>
				</div>
			</div>
			<!--// Features Area -->

			<!-- Newsletter & Brand Logos Area -->
			<div class="newsletter-brandlogo-area section-padding-xs">
				<div class="container">
					<div class="row no-gutters align-items-center">

						<!-- Newsletter -->
						<div class="col-lg-4">
							<div class="newsletterbox">
								<h5>SIGN UP FOR OUR WEEKLY NEWSLETTER !</h5>
								<form action="#">
									<input type="text" placeholder="Email">
									<button type="submit">Subscribe</button>
								</form>
							</div>
						</div>
						<!--// Newsletter -->

						<!-- Brand Logo -->
						<div class="col-lg-8">
							<div class="brand-logos slider-navigation-2">
								<div class="brand-logo">
									<a href="#">
										</static/homeimg src="/static/homeimg/brand-logos/brand-logo-1.jpg" alt="best brand logo">
									</a>
								</div>
								<div class="brand-logo">
									<a href="#">
										</static/homeimg src="/static/home/img/brand-logos/brand-logo-2.jpg" alt="best brand logo">
									</a>
								</div>
								<div class="brand-logo">
									<a href="#">
										</static/homeimg src="/static/home/img/brand-logos/brand-logo-3.jpg" alt="best brand logo">
									</a>
								</div>
								<div class="brand-logo">
									<a href="#">
										</static/homeimg src="/static/home/img/brand-logos/brand-logo-4.jpg" alt="best brand logo">
									</a>
								</div>
								<div class="brand-logo">
									<a href="#">
										</static/homeimg src="/static/home/img/brand-logos/brand-logo-2.jpg" alt="best brand logo">
									</a>
								</div>
								<div class="brand-logo">
									<a href="#">
										</static/homeimg src="/static/home/img/brand-logos/brand-logo-3.jpg" alt="best brand logo">
									</a>
								</div>
							</div>
						</div>
						<!--// Brand Logo -->

					</div>
				</div>
			</div>
			<!--// Newsletter & Brand Logos Area -->

		</main>
		<!--// Page Conttent -->

		<!-- Footer Area -->
		{include file="../public/static/home/footer.html" /}

	</div>
	<!--// Wrapper -->
	

	<!-- Js Files -->
	<script src="/static/home/js/vendor/modernizr-3.6.0.min.js"></script>
	<script src="/static/home/js/vendor/jquery-3.3.1.min.js"></script>
	<script src="/static/home/js/popper.min.js"></script>
	<script src="/static/home/js/bootstrap.min.js"></script>
	<script src="/static/home/js/plugins.js"></script>
	<script src="/static/home/js/main.js"></script>
</body>


</html>