<!doctype html>
<html class="no-js" lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Genrre - Fashion eCommerce Bootstrap4 Template</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Favicon -->
	<link rel="shortcut icon" href="/static/home/img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="/static/home/img/icon.png">

	<!-- Google font (font-family: 'Carrois Gothic', sans-serif;) -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic" rel="stylesheet"> -->
	<!-- Google font (font-family: 'Open Sans', sans-serif;) -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"> -->
	
	<!-- Plugins -->
	<link rel="stylesheet" href="/static/home/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/home/css/plugins.css">

	<!-- Style Css -->
	<link rel="stylesheet" href="/static/home/style.css">

	<!-- Custom Styles -->
	<link rel="stylesheet" href="/static/home/css/custom.css">
</head>

<body>
	<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

	<!-- Add your site or application content here -->

	<!-- Wrapper -->
	<div id="wrapper" class="wrapper">

		<!-- Header -->
		<header class="header sticky-header">

			<!-- Header Top Area -->
			<div class="header-top-area">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 col-md-6 col-12">
							<form action="#" class="header-top-left">
							
							
								
							</form>
						</div>
						<div class="col-lg-6 col-md-6 col-12">
							<ul class="header-top-right">
									
								<li><a href="my-account.html">我的主页</a></li>
								<li><a href="cart.html">购物车</a></li>
								<li><a href="checkout.html">结算</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--// Header Top Area -->

			<!-- Header Middle Area -->
			<div class="header-middle-area cr-border cr-border-bottom">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-4 col-12">
							<form class="header-search">
								<select name="header-search-categories">
									<option value="1">全部种类</option>
									<option value="1">水果</option>
									<option value="1">鲜蔬</option>
									<option value="1">海产</option>
									<option value="1">肉禽蛋品</option>
								
								</select>
								<input type="text" placeholder="请输入商品名">
								<button type="submit"><i class="fa fa-search"></i></button>
							</form>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-7 col-12">
							<div class="header-logo">
								<a href="index.html">
									<img src="/static/home/img/logo/logo1.png" alt="logo">
								</a>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-5 col-12">
							<div class="header-cart-wrap">
							
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--// Header Middle Area -->

			<!-- Header Bottom Area -->
			<div class="header-bottom-area d-none d-lg-block">
				<div class="container">
					<div class="header-bottom-inner">
						<nav class="sn-navigation">
							<ul>
								<li><a href="index.html">主页</a>
								
								</li>
								<li><a href="shop-left-sidebar.html">商品分类</a>
									<ul>
									
										<li><a href="product-details.html">商品详情</a>
											<ul>
												<li><a href="product-details.html">三级分类</a></li>
												<li><a href="product-details.html">三级分类</a></li>
												<li><a href="product-details.html">三级分类</a></li>
											</ul>
										</li>
										<li><a href="product-details.html">商品详情</a>
											<ul>
												<li><a href="product-details.html">三级分类</a></li>
												<li><a href="product-details.html">三级分类</a></li>
												<li><a href="product-details.html">三级分类</a></li>
											</ul>
										</li>
										<li><a href="product-details.html">商品详情</a>
											<ul>
												<li><a href="product-details.html">三级分类</a></li>
												<li><a href="product-details.html">三级分类</a></li>
												<li><a href="product-details.html">三级分类</a></li>
											</ul>
										</li>
									
									</ul>
								</li>
								
								
							
				
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<!--// Header Bottom Area -->



		</header>
		<!--// Header -->

		<!-- Hero Area -->
		<div class="hero-area slider-navigation-1">
			<div class="single-hero-item d-flex align-items-center"style="background-image: url(/static/home/img/hero-image/hero-image-1.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-8 col-md-9 offset-xl-1 offset-0">
							<div class="hero-content">
								<h1>LATEST & EXCLUSIVE COLLECTIONS FOR WOMEN</h1>
								<p>Genrre is one of the best shop for mens product & womens product. We always try to bring latest & exclusive collections.</p>
								<a href="shop-left-sidebar.html" class="sn-button">
									<span>Shop Now</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="single-hero-item d-flex align-items-center"style="background-image: url(/static/home/img/hero-image/hero-image-2.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-8 col-md-9 offset-xl-1 offset-0">
							<div class="hero-content">
								<h1>OUR NEW COLLECTIONS FOR STYLISH MEN & WOMEN</h1>
								<p>Genrre is one of the best shop for mens product & womens product. We always try to bring latest & exclusive collections.</p>
								<a href="shop-left-sidebar.html" class="sn-button">
									<span>Shop Now</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--// Hero Area -->

		<!-- Page Conttent -->
		<main class="page-content">

			<!-- Banners Area -->
			<div class="banner-area section-padding-md">
				<div class="container">
					<div class="row banners-masonry-active banners-wrapper">

						<!-- Single Banner -->
						<div class="col-lg-8 col-12 masonry-item">
							<a href="product-details.html" class="banner mt-30">
								<img src="/static/home/img/banners/banner-image-1.jpg" alt="best banner image">
								<div class="banner-content text-center">					
									<h3>SAHARA MEN’S JEWELRY</h3>
									<p>Get more jewelry accessories from Sahara spring jewelry Collection 2018</p>
								</div>
							</a>	
						</div>
						<!--// Single Banner -->

						<!-- Single Banner -->
						<div class="col-lg-4 col-md-6 col-12 masonry-item">
							<a href="product-details.html" class="banner mt-30">
								<img src="/static/home/img/banners/banner-image-2.jpg" alt="best banner image">
								<div class="banner-content banner-content-2 text-center">					
									<h3>VINTAGE CLOTHING</h3>
									<p>Sale away with 58 new styles up 80 % off</p>
								</div>
							</a>	
						</div>
						<!--// Single Banner -->

						<!-- Single Banner -->
						<div class="col-lg-4 col-md-6 col-12 masonry-item">
							<a href="product-details.html" class="banner mt-30">
								<img src="/static/home/img/banners/banner-image-3.jpg" alt="best banner image">
								<div class="banner-content banner-content-2 text-center">					
									<h3>BEAUTIFUL & FRESH</h3>
									<p>Make your life more colorful !</p>
								</div>
							</a>	
						</div>
						<!--// Single Banner -->

						<!-- Single Banner -->
						<div class="col-lg-4 col-md-6 col-12 masonry-item">
							<a href="product-details.html" class="banner mt-30">
								<img src="/static/home/img/banners/banner-image-4.jpg" alt="best banner image">
								<div class="banner-content banner-content-2 text-center">					
									<h3>FASHION MENSWEAR</h3>
									<p>Spring Collections 2018</p>
								</div>
							</a>	
						</div>
						<!--// Single Banner -->

						<!-- Single Banner -->
						<div class="col-lg-4 col-md-6 col-12 masonry-item">
							<a href="product-details.html" class="banner mt-30">
								<img src="/static/home/img/banners/banner-image-5.jpg" alt="best banner image">
								<div class="banner-content banner-content-2 text-center">					
									<h3>COLORFUL SWEATER</h3>
									<p>Get the new look with only <br>$250.00</p>
								</div>
							</a>	
						</div>
						<!--// Single Banner -->

						<!-- Single Banner -->
						<div class="col-lg-4 col-md-6 col-12 masonry-item">
							<a href="product-details.html" class="banner mt-30">
								<img src="/static/home/img/banners/banner-image-6.jpg" alt="best banner image">
								<div class="banner-content banner-content-2 text-center">					
									<h3>CASUAL SHOES</h3>
									<p>Sahara casual shoes collection 2018</p>
								</div>
							</a>	
						</div>
						<!--// Single Banner -->

						<!-- Single Banner -->
						<div class="col-lg-4 col-md-6 col-12 masonry-item">
							<a href="product-details.html" class="banner mt-30">
								<img src="/static/home/img/banners/banner-image-7.jpg" alt="best banner image">
								<div class="banner-content banner-content-2 text-center">					
									<h3>GRUNGE STREET STYLE</h3>
									<p>Become a grunge guy now !</p>
								</div>
							</a>	
						</div>
						<!--// Single Banner -->

						<!-- Single Banner -->
						<div class="col-lg-4 col-md-6 col-12 masonry-item">
							<a href="product-details.html" class="banner mt-30">
								<img src="/static/home/img/banners/banner-image-9.jpg" alt="best banner image">
								<div class="banner-content text-center">					
									<h3>NEW EXCLUSIVES</h3>
									<p>Our best beautiful multitakers – 30% OFF</p>
								</div>
							</a>	
						</div>
						<!--// Single Banner -->
						
						<!-- Single Banner -->
						<div class="col-lg-4 col-md-6 col-12 masonry-item">
							<a href="product-details.html" class="banner mt-30">
								<img src="/static/home/img/banners/banner-image-8.jpg" alt="best banner image">
								<div class="banner-content banner-content-2 text-center">					
									<h3>SAHARA LOOKBOOK</h3>
									<p>Spring / Summer 2018</p>
								</div>
							</a>	
						</div>
						<!--// Single Banner -->

					</div>
				</div>
			</div>
			<!--// Banners Area -->

			<!-- Features Area -->
			<div class="features-area">
				<div class="container">
					<div class="row justify-content-center features-wrapper">

						<!-- Single Features -->
						<div class="col-lg-4 col-md-6 col-12">
							<div class="features text-center">
								<h6>MONEY BACK GUARANTEED</h6>
								<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur</p>
							</div>	
						</div>
						<!--// Single Features -->

						<!-- Single Features -->
						<div class="col-lg-4 col-md-6 col-12">
							<div class="features text-center">
								<h6>FREE WORLDWIDE DELIVERY</h6>
								<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur</p>
							</div>	
						</div>
						<!--// Single Features -->

						<!-- Single Features -->
						<div class="col-lg-4 col-md-6 col-12">
							<div class="features text-center">
								<h6>ONLINE SUPPORT 24/7</h6>
								<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur</p>
							</div>	
						</div>
						<!--// Single Features -->

					</div>
				</div>
			</div>
			<!--// Features Area -->

			<!-- Newsletter & Brand Logos Area -->
			<div class="newsletter-brandlogo-area section-padding-xs">
				<div class="container">
					<div class="row no-gutters align-items-center">

						<!-- Newsletter -->
						<div class="col-lg-4">
							<div class="newsletterbox">
								<h5>SIGN UP FOR OUR WEEKLY NEWSLETTER !</h5>
								<form action="#">
									<input type="text" placeholder="Email">
									<button type="submit">Subscribe</button>
								</form>
							</div>
						</div>
						<!--// Newsletter -->

						<!-- Brand Logo -->
						<div class="col-lg-8">
							<div class="brand-logos slider-navigation-2">
								<div class="brand-logo">
									<a href="#">
										<img src="/static/home/img/brand-logos/brand-logo-1.jpg" alt="best brand logo">
									</a>
								</div>
								<div class="brand-logo">
									<a href="#">
										<img src="/static/home/img/brand-logos/brand-logo-2.jpg" alt="best brand logo">
									</a>
								</div>
								<div class="brand-logo">
									<a href="#">
										<img src="/static/home/img/brand-logos/brand-logo-3.jpg" alt="best brand logo">
									</a>
								</div>
								<div class="brand-logo">
									<a href="#">
										<img src="/static/home/img/brand-logos/brand-logo-4.jpg" alt="best brand logo">
									</a>
								</div>
								<div class="brand-logo">
									<a href="#">
										<img src="/static/home/img/brand-logos/brand-logo-2.jpg" alt="best brand logo">
									</a>
								</div>
								<div class="brand-logo">
									<a href="#">
										<img src="/static/home/img/brand-logos/brand-logo-3.jpg" alt="best brand logo">
									</a>
								</div>
							</div>
						</div>
						<!--// Brand Logo -->

					</div>
				</div>
			</div>
			<!--// Newsletter & Brand Logos Area -->

		</main>
		<!--// Page Conttent -->

		<!-- Footer Area -->
		<footer class="footer-area bg-black section-padding-sm">

			<!-- Footer Top Area -->
			<div class="footer-top-area">
				<div class="container">
					<div class="row widgets footer-widgets">
						
						<!-- Single Widget -->
						<div class="col-lg-3 col-md-6 col-sm-6 col-12">
							<div class="single-widget widget-quicklinks">
								<h6 class="widget-title">
									<a href="about-us.html">关于我们</a>
								</h6>
							</div>
						</div>
						<!--// Single Widget -->
						
						<!-- Single Widget -->
						<div class="col-lg-3 col-md-6 col-sm-6 col-12">
							<div class="single-widget widget-quicklinks">
								<h6 class="widget-title">版权声明</h6>
								
							</div>
						</div>
						<!--// Single Widget -->
						
				
						
						<!-- Single Widget -->
						<div class="col-lg-3 col-md-6 col-sm-6 col-12">
							<div class="single-widget widget-contact">
								<h6 class="widget-title">联系我们</h6>
								<ul>
									<li class="location">
										<i class="fa fa-map-marker"></i>
										<p>北京市朝阳区平乐园100号</p>
									</li>
									<li class="phone">
										<i class="fa fa-mobile"></i>
										<a href="+4008-123456">联系电话:4008-123456</a>
										<a href="+4008-987654">联系电话:4008-987654</a>
									</li>
									<li class="mail">
										<i class="fa fa-envelope-o"></i>
										<a href="123456@163.com">123456@163.com</a>
								
									</li>
								</ul>
							</div>
						</div>
						<!--// Single Widget -->

		<!-- Single Widget -->
		<div class="col-lg-3 col-md-6 col-sm-6 col-12">
				<div class="single-widget widget-quicklinks">
					<h6 class="widget-title">
					<a href="index.html">友情链接</a></h6>
			
				</div>
			</div>
			<!--// Single Widget -->
					</div>
				</div>
			</div>
			<!--// Footer Top Area -->

			<!-- Footer Copyright Area -->
			<div class="footer-copyright-area section-padding-top-xs">
				<div class="container">
				
					
							<p class="footer-copyright">Copyright ©鲜多多@2019</p>
					
					
				
				</div>
			</div>
			<!--// Footer Copyright Area -->
			
		</footer>
		<!--// Footer Area -->


	</div>
	<!--// Wrapper -->

	<!-- Js Files -->
	<script src="/static/home/js/vendor/modernizr-3.6.0.min.js"></script>
	<script src="/static/home/js/vendor/jquery-3.3.1.min.js"></script>
	<script src="/static/home/js/popper.min.js"></script>
	<script src="/static/home/js/bootstrap.min.js"></script>
	<script src="/static/home/js/plugins.js"></script>
	<script src="/static/home/js/main.js"></script>
</body>
</html>