<!doctype html>
<html class="no-js" lang="zxx">


<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->
<head>
	{include file="../public/static/home/head.html" title="title" /}
</head>

<body>
	

	<!-- Wrapper -->
	<div id="wrapper" class="wrapper">
	{include file="../public/static/home/header.html" /}
		<!-- Page Conttent -->
		<main class="page-content">

			<!-- Shopping Cart Area -->
			<div class="cart-page-area section-padding-md bg-white">
				<div class="container">
					
					<!-- Cart Products -->
					<div class="cart-table table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>			
									<th class="cart-column-image" scope="col">IMAGE</th>
									<th class="cart-column-productname" scope="col">PRODUCT</th>
									<th class="cart-column-price" scope="col">PRICE</th>
									<th class="cart-column-quantity" scope="col">QUANTITY</th>
									<th class="cart-column-total" scope="col">TOTAL</th>
									<th class="cart-column-remove" scope="col">REMOVE</th>
								</tr>
							</thead>
							<tbody>

								<tr>
									<td>
										<a href="product-details-right-sidebar.html" class="product-image">
											<img src="/static/home/img/product/small-size/product-image-1.jpg" alt="product image">
										</a>
									</td>
									<td>
										<a href="product-details-right-sidebar.html" class="product-title">Aenean sagittis</a>
									</td>
									<td>£75.00</td>
									<td>
										<div class="quantity-select">
											<input type="text" value="1">
										</div>
									</td>
									<td>
										<span class="total-price">£75.00</span>
									</td>
									<td>
										<button class="remove-product"><i class="fa fa-remove"></i></button>
									</td>
								</tr>

								<tr>
									<td>
										<a href="product-details-right-sidebar.html" class="product-image">
											<img src="/static/home/img/product/small-size/product-image-2.jpg" alt="product image">
										</a>
									</td>
									<td>
										<a href="product-details-right-sidebar.html" class="product-title">Elementum felis</a>
									</td>
									<td>£75.00</td>
									<td>
										<div class="quantity-select">
											<input type="text" value="1">
										</div>
									</td>
									<td>
										<span class="total-price">£75.00</span>
									</td>
									<td>
										<button class="remove-product"><i class="fa fa-remove"></i></button>
									</td>
								</tr>

								<tr>
									<td>
										<a href="product-details-right-sidebar.html" class="product-image">
											<img src="/static/home/img/product/small-size/product-image-3.jpg" alt="product image">
										</a>
									</td>
									<td>
										<a href="product-details-right-sidebar.html" class="product-title">Aenean sagittis</a>
									</td>
									<td>£75.00</td>
									<td>
										<div class="quantity-select">
											<input type="text" value="1">
										</div>
									</td>
									<td>
										<span class="total-price">£75.00</span>
									</td>
									<td>
										<button class="remove-product"><i class="fa fa-remove"></i></button>
									</td>
								</tr>

							</tbody>
						</table>
					</div>
					<!--// Cart Products -->

					<!-- Cart Content -->
					<div class="cart-content">
						<div class="row justify-content-between">
							<div class="col-lg-6 col-md-6 col-12">
								<div class="cart-content-left">
									<div class="button-group">
										<button class="sn-button sn-button-transparent">
											<span>UPDATE CART</span>
										</button>
										<button class="sn-button sn-button-dark">
											<span>CONTINUE SHOPPING</span>
										</button>
									</div>
									<div class="cart-content-coupon">
										<h6>COUPON</h6>
										<p>Enter your coupon code if you have one.</p>
										<form action="#" class="coupon-form">
											<input type="text" placeholder="Coupon code">
											<button class="add-to-cart-button">
												<span>APPLY COUPON</span>
											</button>
										</form>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 col-12">
								<div class="cart-content-right">
									<h2>CART TOTALS</h2>
									<table class="cart-pricing-table">
										<tbody>
											<tr class="cart-subtotal">
												<th>SUBTOTAL</th>
												<td>£715.00</td>
											</tr>
											<tr class="cart-shipping">
												<th>SHIPPING</th>
												<td>£7.00</td>
											</tr>
											<tr class="cart-total">
												<th>Total</th>
												<td>£722.00</td>
											</tr>
										</tbody>
									</table>
									<a href="#" class="add-to-cart-button sn-button-lg">
										<span>Proceed to Checkout</span>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!--// Cart Content -->

					<!-- Similliar Products -->
					<div class="similliar-products section-padding-top-sm">
						<h3 class="small-title">SIMILLIAR PRODUCTS</h3>
						<div class="row similliar-products-slider-active slider-navigation-2 products-wrapper">
	
							<!-- Single Product -->
							<div class="col-12">
								<div class="product-item">
	
									<div class="product-item-images">
										<a href="product-details-right-sidebar.html" class="product-item-image-inner">
											<img src="/static/home/img/product/thumbnail-size/product-image-3.jpg" alt="product image">
										</a>
										<a href="#" class="add-to-cart-button">
											<span>ADD TO CART</span>
										</a>
									</div>
									
									<div class="product-item-content">
										<div class="product-item-content-left">
											<h5><a href="product-details-right-sidebar.html">Vestibulum suscipit</a></h5>
											<div class="ratting-box">
												<span class="active"><i class="fa fa-star"></i></span>
												<span class="active"><i class="fa fa-star"></i></span>
												<span class="active"><i class="fa fa-star"></i></span>
												<span class="active"><i class="fa fa-star"></i></span>
												<span><i class="fa fa-star"></i></span>
											</div>
											<div class="price-box">
												<span class="pricebox-price">£80.00</span>
											</div>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</p>
										<div class="product-item-content-right">
											<ul>
												<li><a class="quick-view-trigger" href="#" data-toggle="tooltip" title="Quick View"><i class="fa fa-eye"></i></a></li>
												<li><a href="#" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a></li>
												<li><a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a></li>
											</ul>
										</div>
									</div>
									
								</div>    
							</div>
							<!--// Single Product -->
	
							<!-- Single Product -->
							<div class="col-12">
								<div class="product-item">
	
									<div class="product-item-images">
										<a href="product-details-right-sidebar.html" class="product-item-image-inner">
											<img src="/static/home/img/product/thumbnail-size/product-image-5.jpg" alt="product image">
											<img src="/static/home/img/product/thumbnail-size/product-image-6.jpg" alt="product image">
										</a>
										<a href="#" class="add-to-cart-button">
											<span>ADD TO CART</span>
										</a>
									</div>
									
									<div class="product-item-content">
										<div class="product-item-content-left">
											<h5><a href="product-details-right-sidebar.html">Phasellus vel hendrerit</a></h5>
											<div class="ratting-box">
												<span class="active"><i class="fa fa-star"></i></span>
												<span class="active"><i class="fa fa-star"></i></span>
												<span class="active"><i class="fa fa-star"></i></span>
												<span class="active"><i class="fa fa-star"></i></span>
												<span><i class="fa fa-star"></i></span>
											</div>
											<div class="price-box">
												<span class="pricebox-price">£80.00</span>
											</div>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</p>
										<div class="product-item-content-right">
											<ul>
												<li><a class="quick-view-trigger" href="#" data-toggle="tooltip" title="Quick View"><i class="fa fa-eye"></i></a></li>
												<li><a href="#" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a></li>
												<li><a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a></li>
											</ul>
										</div>
									</div>
									
								</div>    
							</div>
							<!--// Single Product -->
	
							<!-- Single Product -->
							<div class="col-12">
								<div class="product-item">
	
									<div class="product-item-images">
										<a href="product-details-right-sidebar.html" class="product-item-image-inner">
											<img src="/static/home/img/product/thumbnail-size/product-image-7.jpg" alt="product image">
										</a>
										<a href="#" class="add-to-cart-button">
											<span>ADD TO CART</span>
										</a>
									</div>
									
									<div class="product-item-content">
										<div class="product-item-content-left">
											<h5><a href="product-details-right-sidebar.html">Pellentesque posuere</a></h5>
											<div class="ratting-box">
												<span class="active"><i class="fa fa-star"></i></span>
												<span class="active"><i class="fa fa-star"></i></span>
												<span class="active"><i class="fa fa-star"></i></span>
												<span class="active"><i class="fa fa-star"></i></span>
												<span><i class="fa fa-star"></i></span>
											</div>
											<div class="price-box">
												<span class="pricebox-price">£80.00</span>
											</div>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</p>
										<div class="product-item-content-right">
											<ul>
												<li><a class="quick-view-trigger" href="#" data-toggle="tooltip" title="Quick View"><i class="fa fa-eye"></i></a></li>
												<li><a href="#" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a></li>
												<li><a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a></li>
											</ul>
										</div>
									</div>
									
								</div>    
							</div>
							<!--// Single Product -->
	
							<!-- Single Product -->
							<div class="col-12">
								<div class="product-item">
	
									<div class="product-item-images">
										<a href="product-details-right-sidebar.html" class="product-item-image-inner">
											<img src="/static/home/img/product/thumbnail-size/product-image-4.jpg" alt="product image">
											<img src="/static/home/img/product/thumbnail-size/product-image-8.jpg" alt="product image">
										</a>
										<a href="#" class="add-to-cart-button">
											<span>ADD TO CART</span>
										</a>
									</div>
									
									<div class="product-item-content">
										<div class="product-item-content-left">
											<h5><a href="product-details-right-sidebar.html">Pellentesque posuere</a></h5>
											<div class="ratting-box">
												<span class="active"><i class="fa fa-star"></i></span>
												<span class="active"><i class="fa fa-star"></i></span>
												<span class="active"><i class="fa fa-star"></i></span>
												<span class="active"><i class="fa fa-star"></i></span>
												<span><i class="fa fa-star"></i></span>
											</div>
											<div class="price-box">
												<span class="pricebox-price">£80.00</span>
											</div>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</p>
										<div class="product-item-content-right">
											<ul>
												<li><a class="quick-view-trigger" href="#" data-toggle="tooltip" title="Quick View"><i class="fa fa-eye"></i></a></li>
												<li><a href="#" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a></li>
												<li><a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a></li>
											</ul>
										</div>
									</div>
									
								</div>    
							</div>
							<!--// Single Product -->

							<!-- Single Product -->
							<div class="col-12">
								<div class="product-item">
	
									<div class="product-item-images">
										<a href="product-details-right-sidebar.html" class="product-item-image-inner">
											<img src="/static/home/img/product/thumbnail-size/product-image-14.jpg" alt="product image">
										</a>
										<a href="#" class="add-to-cart-button">
											<span>ADD TO CART</span>
										</a>
									</div>
									
									<div class="product-item-content">
										<div class="product-item-content-left">
											<h5><a href="product-details-right-sidebar.html">Pellentesque posuere</a></h5>
											<div class="ratting-box">
												<span class="active"><i class="fa fa-star"></i></span>
												<span class="active"><i class="fa fa-star"></i></span>
												<span class="active"><i class="fa fa-star"></i></span>
												<span class="active"><i class="fa fa-star"></i></span>
												<span><i class="fa fa-star"></i></span>
											</div>
											<div class="price-box">
												<span class="pricebox-price">£80.00</span>
											</div>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</p>
										<div class="product-item-content-right">
											<ul>
												<li><a class="quick-view-trigger" href="#" data-toggle="tooltip" title="Quick View"><i class="fa fa-eye"></i></a></li>
												<li><a href="#" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a></li>
												<li><a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a></li>
											</ul>
										</div>
									</div>
									
								</div>    
							</div>
							<!--// Single Product -->
	
							<!-- Single Product -->
							<div class="col-12">
								<div class="product-item">
	
									<div class="product-item-images">
										<a href="product-details-right-sidebar.html" class="product-item-image-inner">
											<img src="/static/home/img/product/thumbnail-size/product-image-15.jpg" alt="product image">
											<img src="/static/home/img/product/thumbnail-size/product-image-16.jpg" alt="product image">
										</a>
										<a href="#" class="add-to-cart-button">
											<span>ADD TO CART</span>
										</a>
									</div>
									
									<div class="product-item-content">
										<div class="product-item-content-left">
											<h5><a href="product-details-right-sidebar.html">Pellentesque posuere</a></h5>
											<div class="ratting-box">
												<span class="active"><i class="fa fa-star"></i></span>
												<span class="active"><i class="fa fa-star"></i></span>
												<span class="active"><i class="fa fa-star"></i></span>
												<span class="active"><i class="fa fa-star"></i></span>
												<span><i class="fa fa-star"></i></span>
											</div>
											<div class="price-box">
												<span class="pricebox-price">£80.00</span>
											</div>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</p>
										<div class="product-item-content-right">
											<ul>
												<li><a class="quick-view-trigger" href="#" data-toggle="tooltip" title="Quick View"><i class="fa fa-eye"></i></a></li>
												<li><a href="#" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a></li>
												<li><a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a></li>
											</ul>
										</div>
									</div>
									
								</div>    
							</div>
							<!--// Single Product -->
	
						</div>
					</div>
					<!--// Similliar Products -->

				</div>
			</div>
			<!--// Shopping Cart Area -->

		</main>
		<!--// Page Conttent -->

		<!-- Footer Area -->
		{include file="../public/static/home/footer.html" /} 
        <!--// Footer Area -->
        
        <!-- Quick View Modal -->
        <div class="quick-view-modal">
            <div class="quick-view-modal-inner">
                <div class="container">
                    <div class="product-details">
            
                        <!-- Product Details Left -->
                        <div class="product-details-left">
                            <div class="product-details-images slider-navigation-2">
                                <a href="img/product/large-size/product-image-1.jpg">
                                    <img src="/static/home/img/product/thumbnail-size/product-image-1.jpg" alt="product image">
                                </a>
                                <a href="img/product/thumbnail-size/product-image-2.jpg">
                                    <img src="/static/home/img/product/thumbnail-size/product-image-2.jpg" alt="product image">
                                </a>
                                <a href="img/product/large-size/product-image-3.jpg">
                                    <img src="/static/home/img/product/thumbnail-size/product-image-14.jpg" alt="product image">
                                </a>
                                <a href="img/product/large-size/product-image-4.jpg">
                                    <img src="/static/home/img/product/thumbnail-size/product-image-15.jpg" alt="product image">
                                </a>
                                <a href="img/product/large-size/product-image-5.jpg">
                                    <img src="/static/home/img/product/thumbnail-size/product-image-20.jpg" alt="product image">
                                </a>
                            </div>
                            <div class="product-details-thumbs slider-navigation-2">										
                                <img src="/static/home/img/product/small-size/product-image-1.jpg" alt="product image thumb">
                                <img src="/static/home/img/product/small-size/product-image-2.jpg" alt="product image thumb">
                                <img src="/static/home/img/product/small-size/product-image-3.jpg" alt="product image thumb">
                                <img src="/static/home/img/product/small-size/product-image-4.jpg" alt="product image thumb">
                                <img src="/static/home/img/product/small-size/product-image-5.jpg" alt="product image thumb">
                            </div>
                        </div>
                        <!--// Product Details Left -->
            
                        <!-- Product Details Right -->
                        <div class="product-details-right">
                            <h5 class="product-title">Aenean Eu Tristique</h5>
                            
                            <div class="ratting-stock-availbility">
                                <div class="ratting-box">
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                </div>
                                <span class="stock-available">In stock</span>
                            </div>
                            
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla. adipiscing cursus eu, suscipit id nulla.</p>
                            
                            <div class="price-box">
                                <span class="pricebox-price">£80.00</span>
                            </div>
            
                            <div class="product-details-quantity">
                                <div class="quantity-select">
                                    <input type="text" value="1">
                                </div>
                                <a href="#" class="add-to-cart-button">
                                    <span>ADD TO CART</span>
                                </a>
                            </div>
            
                            <div class="product-details-color">
                                <span>Color :</span>
                                <ul>
                                    <li class="red"><span></span></li>
                                    <li class="green checked"><span></span></li>
                                    <li class="blue"><span></span></li>
                                    <li class="black"><span></span></li>
                                </ul>
                            </div>
            
                            <div class="product-details-size">
                                <span>Size :</span>
                                <ul>
                                    <li class="checked"><span>S</span></li>
                                    <li><span>M</span></li>
                                    <li><span>L</span></li>
                                    <li><span>XL</span></li>
                                    <li><span>XXL</span></li>
                                </ul>
                            </div>
            
                            <div class="product-details-categories">
                                <span>Categories :</span>
                                <ul>
                                    <li><a href="shop.html">Accessories</a></li>
                                    <li><a href="shop.html">Kids</a></li>
                                    <li><a href="shop.html">Women</a></li>
                                </ul>
                            </div>
            
                            <div class="product-details-tags">
                                <span>Tags :</span>
                                <ul>
                                    <li><a href="shop.html">Electronic</a></li>
                                    <li><a href="shop.html">Television</a></li>
                                </ul>
                            </div>
            
                            <div class="product-details-socialshare">
                                <span>Share :</span>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div> 
                        </div>
                        <!--// Product Details Right -->
            
                    </div>
                </div>
            </div>
            <button class="close-quickview-modal"><i class="fa fa-close"></i></button>
        </div>
        <!--// Quick View Modal -->


	</div>
    <!--// Wrapper -->
    

	<!-- Js Files -->

</body>


<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->
</html>