<!doctype html>
<html class="no-js" lang="zxx">


<head>
	{include file="../public/static/home/head.html" title="$title" /}
</head>

<body>
	<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

	<!-- Add your site or application content here -->

	<!-- Wrapper -->
	<div id="wrapper" class="wrapper">

		<!-- Header -->
		{include file="../public/static/home/header.html" /}

		<!-- Page Conttent -->
		<main class="page-content">

            <!-- Account Page Area -->
            <div class="account-page-area section-padding-md">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-3">
                            <ul class="nav myaccount-tab-trigger" id="account-page-tab" role="tablist">
                                
                                <li class="nav-item">
                                    <a class="nav-link" id="account-orders-tab" data-toggle="tab" href="#account-orders" role="tab" aria-controls="account-orders" aria-selected="false">我的订单</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="account-address-tab" data-toggle="tab" href="#account-address" role="tab" aria-controls="account-address" aria-selected="false">我的地址</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="account-details-tab" data-toggle="tab" href="#account-details" role="tab" aria-controls="account-details" aria-selected="false">信息修改</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="account-details-tab" data-toggle="tab" href="#password" role="tab" aria-controls="account-details" aria-selected="false">修改密码</a>
                                </li>
                              
                                <li class="nav-item">
                                    <a class="nav-link" id="account-logout-tab"  href="{:url('logout')}" role="tab"  aria-selected="false">注销登录</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-9">
                            <div class="tab-content myaccount-tab-content" id="account-page-tab-content">
                                <div class="tab-pane fade" id="account-orders" role="tabpanel" aria-labelledby="account-orders-tab">
                                    <div class="myaccount-orders">
                                        <h4 class="small-title">我的订单</h4>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover">
                                                <tbody>
                                                    <tr>			
                                                        <th>订单编号</th>
                                                        <th>日期</th>
                                                        <th>订单状态</th>
                                                        <th>价格</th>
                                                        <th></th>
                                                    </tr>
                                                    <tr>		
                                                        <td><a class="account-order-id" href="#">#5364</a></td>
                                                        <td>July 27, 2018</td>
                                                        <td>未付款</td>
                                                        <td>£162.00 for 2 items</td>
                                                        <td><a href="#" class="add-to-cart-button"><span>查看详情</span></a></td>
                                                    </tr>
                                                    <tr>		
                                                        <td><a class="account-order-id" href="#">#5356</a></td>
                                                        <td>July 27, 2018</td>
                                                        <td>On Hold</td>
                                                        <td>£162.00 for 2 items</td>
                                                        <td><a href="#" class="add-to-cart-button"><span>查看详情</span></a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="account-address" role="tabpanel" aria-labelledby="account-address-tab">
                                    <div class="myaccount-address">
                                       
                                        <div class="row">
                                            <div class="col">
                                                <h4 class="small-title">我的地址</h4>
                                                <address>
                                                    {$user.address}
                                                </address>
                                            </div>
                                          
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="account-details" role="tabpanel" aria-labelledby="account-details-tab">
                                    <div class="myaccount-details">
                                        <form action="{:url('user_edit')}" class="sn-form" method="POST">
                                            <div class="sn-form-inner">
												<div class="single-input single-input-half">
													<label for="昵称修改">昵称修改</label>
													<input name="nickname" type="text" id="nickname" value="{$user.nickname}">
												</div>
												<div class="single-input single-input-half">
													<label for="更新地址">更新地址</label>
													<input name="address" type="text" id="address" value="{$user.address}">
                                                </div>
                                                <div class="single-input single-input-half">
                                                        <label for="更新地址">更改联系电话</label>
                                                        <input name="telephone" type="text" id="telephone" value="{$user.telephone}">
                                                    </div>
												<div class="single-input">
													<button class="sn-button sn-button-dark" type="submit" ><span>保存更改</span></button>
												</div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="account-details-tab">
                                    <div class="myaccount-details">
                                        <form action="{:url('password_edit')}" class="sn-form" method="POST">
                                                <div class="sn-form-inner">	
												<div class="single-input">
													<label for="原密码">原密码</label>
													<input name="user_password" type="password" id="user_password">
												</div>
												<div class="single-input">
													<label for="新密码">新密码</label>
													<input name="newpassword" type="password" id="newpassword">
												</div>
												<div class="single-input">
													<label for="account-details-confpass">再输一遍</label>
													<input name="again" type="password" id="again" >
												</div>
												<div class="single-input">
													<button class="sn-button sn-button-dark" type="submit" ><span>保存更改</span></button>
												</div>
                                            </div>
                                        
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Account Page Area -->

		</main>
		<!--// Page Conttent -->

		<!-- Footer Area -->
		{include file="../public/static/home/footer.html" /}
        <!--// Footer Area -->


	</div>
    <!--// Wrapper -->
    


</body>


 </html>
